body{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}

header {
  color: $primary-color;
  

}
.main-header{
  display: flex;
  justify-content: space-between;
  background-image: url(./img/main_bgd.jpg);
  background-color: black;
  top: 0;
  left: 0;
}

.main-header__burger{
  position: relative;
  top: 25px;
    left: 25px;
    width: 20px;
    height: 17px;
}

.main-header__infrastruktura{
  position: relative;
  left: 0;
  top: 16px;
}

.main-header__telnumber{
  position: relative;
  top: 22px;
  left: -10px;
}
.main-header__telephone{
  border: 1px solid $primary-color;
  position: relative;
  top: 7px;
  left: -20px;
  width: 50px;
height: 50px;
}
.main-header__contact{
  position: relative;
  height: 13px;
  width: 13px;
  top: 17px;
  margin: auto;
}

.main-header__prefix {
 color: $primary-color; 
}

.section-1 {
  background-color: black;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
}

.section-1__description{
  position: relative;
width: 166px;
height: 13px;
left: 22px;
top: 24px;

// font-family: Circe;
font-style: normal;
font-weight: 350;
font-size: 12px;
text-decoration-line: underline;
color: #606060;
}
.section-1__title{
  position: relative;
  width: 137px;
height: 28px;
left: 22px;
top: 30px;

font-family: Gilam;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 28px;

color: #FFFFFF;
}

.section-1__spboffice{
position: relative;
width: 220px;
height: 28px;
left: 23px;
top: 39px;

font-family: Gilam;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
}

.section-1__telnumber{
// font-family: Gilam;
margin-left: 15px;
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 28px;
color: #FFFFFF;
}

.section-1__list{
  position: relative;
top: 40px;
}
.section-1__list:li {
  position: relative;
  margin-top: 10px;
}
.section-1__li{
  position: relative;
  margin-left: 20px;

  // font-family: Gilam;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
color: #FFFFFF;

}